extends ../layout/index


block contenido
    .row(class=" mt-3")
        .col-12
            div(class="row mt-3 gap-3")
                .col-12  
                    .input-group.mb-3
                      input.form-control(id="inputBuscarProducto" type='text' placeholder='Buscar productos por SKU...')
                      button.btn.btn-custom-outline-primary(type='button')
                        svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                          path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85a1.007 1.007 0 0 0-.115-.098zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z')
            .row#contenedorProductos
            hr
            div(class="row")
              //Radio button con metodo de pago
              .col-6
                h5 Metodo de pago
                .form-check.form-check-inline
                  input.form-check-input(type='radio' name='metodoPago' id='metodoPago1' value='Efectivo' checked)
                  label.form-check-label(for='metodoPago1') Efectivo
                .form-check.form-check-inline
                  input.form-check-input(type='radio' name='metodoPago' id='metodoPago2' value='Tarjeta')
                  label.form-check-label(for='metodoPago2') Tarjeta
                .form-check.form-check-inline
                  input.form-check-input(type='radio' name='metodoPago' id='metodoPago3' value='Transferencia')
                  label.form-check-label(for='metodoPago3') Transferencia
              .col-6
                h5 Estado de la venta
                select.form-select#estadoVenta(name='estadoVenta')
                  option(value='') Seleccione un estado
                  option(value='Pendiente') Pendiente
                  option(value='Completada' selected) Completada
            hr
            div(class="row mt-2")
              .col
                small.text-body-secondary.fw-bold TOTAL:
                h5.fw-bold.fs-3#totalVenta
                  | $ 0
              .col(class="d-flex justify-content-end align-items-center")
                button.btn.btn-custom-primary.px-5.btnCompletarCompra
                  | Completar compra
