extends ../layout/index


block contenido
  
  .content
    nav.mb-3(aria-label='breadcrumb')
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='#!') Page 1
        li.breadcrumb-item
          a(href='#!') Page 2
        li.breadcrumb-item.active Default
    .mb-9
      .row.g-3.mb-4
        .col-auto
          h2.mb-0 Orders
      ul.nav.nav-links.mb-3.mb-lg-2.mx-n3
        li.nav-item
          a.nav-link.active(aria-current='page' href='#')
            span All 
            span.text-body-tertiary.fw-semibold (68817)
        li.nav-item
          a.nav-link(href='#')
            span Pending payment 
            span.text-body-tertiary.fw-semibold (6)
        li.nav-item
          a.nav-link(href='#')
            span Unfulfilled 
            span.text-body-tertiary.fw-semibold (17)
        li.nav-item
          a.nav-link(href='#')
            span Completed
            span.text-body-tertiary.fw-semibold (6,810)
        li.nav-item
          a.nav-link(href='#')
            span Refunded
            span.text-body-tertiary.fw-semibold (8)
        li.nav-item
          a.nav-link(href='#')
            span Failed
            span.text-body-tertiary.fw-semibold (2)
      #orderTable(data-list='{"valueNames":["order","total","customer","payment_status","fulfilment_status","delivery_type","date"],"page":10,"pagination":true}')
        .mb-4
          .row.g-3
            .col-auto
              .search-box
                form.position-relative
                  input.form-control.search-input.search(type='search' placeholder='Search orders' aria-label='Search')
                  span.fas.fa-search.search-box-icon
            .col-auto.scrollbar.overflow-hidden-y.flex-grow-1
              .btn-group.position-static(role='group')
                .btn-group.position-static.text-nowrap(role='group')
                  button.btn.btn-phoenix-secondary.px-7.flex-shrink-0(type='button' data-bs-toggle='dropdown' data-boundary='window' aria-haspopup='true' aria-expanded='false' data-bs-reference='parent')
                    | Payment status
                    span.fas.fa-angle-down.ms-2
                  ul.dropdown-menu.dropdown-menu-end
                    li
                      a.dropdown-item(href='#') Action
                    li
                      a.dropdown-item(href='#') Another action
                    li
                      a.dropdown-item(href='#') Something else here
                    li
                      hr.dropdown-divider
                    li
                      a.dropdown-item(href='#') Separated link
                .btn-group.position-static.text-nowrap(role='group')
                  button.btn.btn-sm.btn-phoenix-secondary.px-7.flex-shrink-0(type='button' data-bs-toggle='dropdown' data-boundary='window' aria-haspopup='true' aria-expanded='false' data-bs-reference='parent')
                    | Fulfilment status
                    span.fas.fa-angle-down.ms-2
                  ul.dropdown-menu.dropdown-menu-end
                    li
                      a.dropdown-item(href='#') Action
                    li
                      a.dropdown-item(href='#') Another action
                    li
                      a.dropdown-item(href='#') Something else here
                    li
                      hr.dropdown-divider
                    li
                      a.dropdown-item(href='#') Separated link
                button.btn.btn-sm.btn-phoenix-secondary.px-7.flex-shrink-0 More filters 
            .col-auto
              button.btn.btn-link.text-body.me-4.px-0
                span.fa-solid.fa-file-export.fs-9.me-2
                | Export
              button.btn.btn-primary
                span.fas.fa-plus.me-2
                | Add order
        .mx-n4.px-4.mx-lg-n6.px-lg-6.bg-body-emphasis.border-top.border-bottom.border-translucent.position-relative.top-1
          .table-responsive.scrollbar.mx-n1.px-1
            table.table.table-sm.fs-9.mb-0
              thead
                tr
                  th.white-space-nowrap.fs-9.align-middle.ps-0(style='width:26px;')
                    .form-check.mb-0.fs-8
                      input#checkbox-bulk-order-select.form-check-input(type='checkbox' data-bulk-select='{"body":"order-table-body"}')
                  th.sort.white-space-nowrap.align-middle.pe-3(scope='col' data-sort='order' style='width:5%;') ORDER
                  th.sort.align-middle.text-end(scope='col' data-sort='total' style='width:6%;') TOTAL
                  th.sort.align-middle.ps-8(scope='col' data-sort='customer' style='width:28%; min-width: 250px;') CUSTOMER
                  th.sort.align-middle.pe-3(scope='col' data-sort='payment_status' style='width:10%;') PAYMENT STATUS
                  th.sort.align-middle.text-start.pe-3(scope='col' data-sort='fulfilment_status' style='width:12%; min-width: 200px;') FULFILMENT STATUS
                  th.sort.align-middle.text-start(scope='col' data-sort='delivery_type' style='width:30%;') DELIVERY TYPE
                  th.sort.align-middle.text-end.pe-0(scope='col' data-sort='date') DATE
              tbody#order-table-body.list
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2453,"total":87,"customer":{"avatar":"/team/32.webp","name":"Carry Anna"},"payment_status":{"label":"Complete","type":"badge-phoenix-success","icon":"check"},"fulfilment_status":{"label":"Cancelled","type":"badge-phoenix-secondary","icon":"x"},"delivery_type":"Cash on delivery","date":"Dec 12, 12:56 PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2453
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $87
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/32.webp' alt='')
                      h6.mb-0.ms-3.text-body Carry Anna
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Complete
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-secondary
                      span.badge-label Cancelled
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Cash on delivery
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Dec 12, 12:56 PM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2452,"total":7264,"customer":{"avatar":"","name":"Milind Mikuja"},"fulfilment_status":{"label":"Ready to pickup","type":"badge-phoenix-info","icon":"info"},"payment_status":{"label":"Cancelled","type":"badge-phoenix-secondary","icon":"x"},"delivery_type":"Free shipping","date":"Dec 9, 2:28PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2452
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $7264
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        .avatar-name.rounded-circle
                          span M
                      h6.mb-0.ms-3.text-body Milind Mikuja
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-secondary
                      span.badge-label Cancelled
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-info
                      span.badge-label Ready to pickup
                      span.ms-1(data-feather='info' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Free shipping
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Dec 9, 2:28PM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2451,"total":375,"customer":{"avatar":"/team/35.webp","name":"Stanly Drinkwater"},"payment_status":{"label":"Pending","type":"badge-phoenix-warning","icon":"clock"},"fulfilment_status":{"label":"Completed","type":"badge-phoenix-success","icon":"check"},"delivery_type":"Local pickup","date":"Dec 4, 12:56 PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2451
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $375
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/35.webp' alt='')
                      h6.mb-0.ms-3.text-body Stanly Drinkwater
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-warning
                      span.badge-label Pending
                      span.ms-1(data-feather='clock' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Completed
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Local pickup
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Dec 4, 12:56 PM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2450,"total":657,"customer":{"avatar":"/team/57.webp","name":"Josef Stravinsky"},"payment_status":{"label":"Cancelled","type":"badge-phoenix-secondary","icon":"x"},"fulfilment_status":{"label":"Partially Fulfiled","type":"badge-phoenix-warning","icon":"clock"},"delivery_type":"Standard shipping","date":"Dec 1, 4:07 AM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2450
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $657
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/57.webp' alt='')
                      h6.mb-0.ms-3.text-body Josef Stravinsky
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-secondary
                      span.badge-label Cancelled
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-warning
                      span.badge-label Partially Fulfiled
                      span.ms-1(data-feather='clock' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Standard shipping
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Dec 1, 4:07 AM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2449,"total":9562,"customer":{"avatar":"/team/58.webp","name":"Igor Borvibson"},"payment_status":{"label":"Failed","type":"badge-phoenix-danger","icon":"x"},"fulfilment_status":{"label":"Partially Fulfiled","type":"badge-phoenix-success","icon":"check"},"delivery_type":"Express","date":"Nov 28, 7:28 PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2449
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $9562
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/58.webp' alt='')
                      h6.mb-0.ms-3.text-body Igor Borvibson
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-danger
                      span.badge-label Failed
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Partially Fulfiled
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Express
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Nov 28, 7:28 PM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2448,"total":46,"customer":{"avatar":"/team/59.webp","name":"Katerina Karenin"},"payment_status":{"label":"Paid","type":"badge-phoenix-success","icon":"check"},"fulfilment_status":{"label":"Unfulfiled","type":"badge-phoenix-danger","icon":"x"},"delivery_type":"Local delivery","date":"Nov 24, 10:16 AM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2448
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $46
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/59.webp' alt='')
                      h6.mb-0.ms-3.text-body Katerina Karenin
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Paid
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-danger
                      span.badge-label Unfulfiled
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Local delivery
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Nov 24, 10:16 AM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2447,"total":953,"customer":{"avatar":"","name":"Roy Anderson"},"payment_status":{"label":"Pending","type":"badge-phoenix-warning","icon":"clock"},"fulfilment_status":{"label":"Fulfiled","type":"badge-phoenix-success","icon":"check"},"delivery_type":"Cash on delivery","date":"Nov 18, 5:43 PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2447
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $953
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        .avatar-name.rounded-circle
                          span R
                      h6.mb-0.ms-3.text-body Roy Anderson
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-warning
                      span.badge-label Pending
                      span.ms-1(data-feather='clock' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Fulfiled
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Cash on delivery
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Nov 18, 5:43 PM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2446,"total":12,"customer":{"avatar":"/team/31.webp","name":"Martina scorcese"},"payment_status":{"label":"Pending","type":"badge-phoenix-warning","icon":"clock"},"fulfilment_status":{"label":"Fulfiled","type":"badge-phoenix-success","icon":"check"},"delivery_type":"Standard shipping","date":"Nov 18, 2:09 AM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2446
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $12
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/31.webp' alt='')
                      h6.mb-0.ms-3.text-body Martina scorcese
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-warning
                      span.badge-label Pending
                      span.ms-1(data-feather='clock' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Fulfiled
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Standard shipping
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Nov 18, 2:09 AM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2445,"total":3927,"customer":{"avatar":"/team/33.webp","name":"Luis Bunuel"},"payment_status":{"label":"Paid","type":"badge-phoenix-success","icon":"check"},"fulfilment_status":{"label":"Canceled","type":"badge-phoenix-secondary","icon":"x"},"delivery_type":"Cash on delivery","date":"Nov 16, 3:22 PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2445
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $3927
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/33.webp' alt='')
                      h6.mb-0.ms-3.text-body Luis Bunuel
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Paid
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-secondary
                      span.badge-label Canceled
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Cash on delivery
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Nov 16, 3:22 PM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2444,"total":5937,"customer":{"avatar":"/team/34.webp","name":"Jean Renoir"},"payment_status":{"label":"Paid","type":"badge-phoenix-success","icon":"check"},"fulfilment_status":{"label":"Ready to pickup","type":"badge-phoenix-secondary","icon":"info"},"delivery_type":"Local pickup","date":"Nov 09, 8:49 AM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2444
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $5937
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/34.webp' alt='')
                      h6.mb-0.ms-3.text-body Jean Renoir
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Paid
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-secondary
                      span.badge-label Ready to pickup
                      span.ms-1(data-feather='info' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Local pickup
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Nov 09, 8:49 AM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2443,"total":124,"customer":{"avatar":"/team/29.webp","name":"Ricky Antony"},"payment_status":{"label":"Failed","type":"badge-phoenix-danger","icon":"x"},"fulfilment_status":{"label":"Unfulfiled","type":"badge-phoenix-danger","icon":"x"},"delivery_type":"Cash on delivery","date":"Nov 05, 4:35 PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2443
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $124
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/29.webp' alt='')
                      h6.mb-0.ms-3.text-body Ricky Antony
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-danger
                      span.badge-label Failed
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-danger
                      span.badge-label Unfulfiled
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Cash on delivery
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Nov 05, 4:35 PM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2442,"total":542,"customer":{"avatar":"/team/3.webp","name":"Emma Watson"},"payment_status":{"label":"Pending","type":"badge-phoenix-warning","icon":"clock"},"fulfilment_status":{"label":"Fulfiled","type":"badge-phoenix-success","icon":"check"},"delivery_type":"Standard shipping","date":"Nov 05, 12:00 PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2442
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $542
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/3.webp' alt='')
                      h6.mb-0.ms-3.text-body Emma Watson
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-warning
                      span.badge-label Pending
                      span.ms-1(data-feather='clock' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Fulfiled
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Standard shipping
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Nov 05, 12:00 PM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2441,"total":1480,"customer":{"avatar":"/team/avatar.webp","name":"Jennifer Schramm","placeholder":true},"payment_status":{"label":"Paid","type":"badge-phoenix-success","icon":"check"},"fulfilment_status":{"label":"Ready to pickup","type":"badge-phoenix-info","icon":"info"},"delivery_type":"Local delivery","date":"Nov 02, 2:00 AM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2441
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $1480
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle.avatar-placeholder(src='../../../assets/img/team/avatar.webp' alt='')
                      h6.mb-0.ms-3.text-body Jennifer Schramm
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Paid
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-info
                      span.badge-label Ready to pickup
                      span.ms-1(data-feather='info' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Local delivery
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Nov 02, 2:00 AM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2440,"total":80,"customer":{"avatar":"/team/25.webp","name":"Michael Jenkins"},"payment_status":{"label":"Cancelled","type":"badge-phoenix-secondary","icon":"x"},"fulfilment_status":{"label":"Unfulfiled","type":"badge-phoenix-danger","icon":"x"},"delivery_type":"Free shipping","date":"Oct 30, 4:25 PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2440
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $80
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/25.webp' alt='')
                      h6.mb-0.ms-3.text-body Michael Jenkins
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-secondary
                      span.badge-label Cancelled
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-danger
                      span.badge-label Unfulfiled
                      span.ms-1(data-feather='x' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Free shipping
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Oct 30, 4:25 PM
                tr.hover-actions-trigger.btn-reveal-trigger.position-static
                  td.fs-9.align-middle.px-0.py-3
                    .form-check.mb-0.fs-8
                      input.form-check-input(type='checkbox' data-bulk-select-row='{"order":2439,"total":999,"customer":{"avatar":"/team/32.webp","name":"Raymond Mims"},"payment_status":{"label":"Pending","type":"badge-phoenix-warning","icon":"clock"},"fulfilment_status":{"label":"Fulfiled","type":"badge-phoenix-success","icon":"check"},"delivery_type":"Cash on delivery","date":"Oct 28, 3:00 PM"}')
                  td.order.align-middle.white-space-nowrap.py-0
                    a.fw-semibold(href='#!') #2439
                  td.total.align-middle.text-end.fw-semibold.text-body-highlight $999
                  td.customer.align-middle.white-space-nowrap.ps-8
                    a.d-flex.align-items-center.text-body(href='../../../apps/e-commerce/landing/profile.html')
                      .avatar.avatar-m
                        img.rounded-circle(src='../../../assets/img/team/32.webp' alt='')
                      h6.mb-0.ms-3.text-body Raymond Mims
                  td.payment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-warning
                      span.badge-label Pending
                      span.ms-1(data-feather='clock' style='height:12.8px;width:12.8px;')
                  td.fulfilment_status.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary
                    span.badge.badge-phoenix.fs-10.badge-phoenix-success
                      span.badge-label Fulfiled
                      span.ms-1(data-feather='check' style='height:12.8px;width:12.8px;')
                  td.delivery_type.align-middle.white-space-nowrap.text-body.fs-9.text-start Cash on delivery
                  td.date.align-middle.white-space-nowrap.text-body-tertiary.fs-9.ps-4.text-end Oct 28, 3:00 PM
          .row.align-items-center.justify-content-between.py-2.pe-0.fs-9
            .col-auto.d-flex
              p.mb-0.d-none.d-sm-block.me-3.fw-semibold.text-body(data-list-info='data-list-info')
              a.fw-semibold(href='#!' data-list-view='*')
                | View all
                span.fas.fa-angle-right.ms-1(data-fa-transform='down-1')
              a.fw-semibold.d-none(href='#!' data-list-view='less')
                | View Less
                span.fas.fa-angle-right.ms-1(data-fa-transform='down-1')
            .col-auto.d-flex
              button.page-link(data-list-pagination='prev')
                span.fas.fa-chevron-left
              ul.mb-0.pagination
              button.page-link.pe-0(data-list-pagination='next')
                span.fas.fa-chevron-right
    footer.footer.position-absolute
      .row.g-0.justify-content-between.align-items-center.h-100
        .col-12.col-sm-auto.text-center
          p.mb-0.mt-2.mt-sm-0.text-body
            | Thank you for creating with Phoenix
            span.d-none.d-sm-inline-block
            span.d-none.d-sm-inline-block.mx-1 |
            br.d-sm-none
            | 2025 &copy;
            a.mx-1(href='https://themewagon.com') Themewagon
        .col-12.col-sm-auto.text-center
          p.mb-0.text-body-tertiary.text-opacity-85 v1.20.1
