
mixin combo_add(titulo, descripcion, data)
  .d-flex.flex-wrap.mb-2
    h5.mb-3.text-body-highlight.me-2= titulo
    a.fw-bold.fs-9(href='#!')= descripcion
    select.form-select.mb-3(required)
      if data && data.length
        each item in data
          option(value=item.id)= item.nombre
      else
        option(value='') No hay opciones disponibles