extends ../layout/index

//- MIXINS
include ../mixins/botones/confirmar
include ../mixins/combos/combo_add
include ../mixins/secciones/pestana

block contenido
    .content
      form.mb-9(method='POST' action= accion enctype='multipart/form-data')
        .row.g-3.flex-between-end.mb-5
          .col-auto
            h2.mb-2= titulo
            h5.text-body-tertiary.fw-semibold= descripcion
          .col-auto
            a.text-white(href=`${endpoints.listarProductos}`)
              button(id="addBtn" class=("btn btn-danger mx-2") type='button')
                span.me-2
                  | Descartar
            button.btn.btn-info.mb-2.mb-sm-0(type='submit') Publicar Producto
        .row.g-5
          if(errores)
            .alert.alert-outline-danger.d-flex.align-items-center(role='alert')
              span.fas.fa-times-circle.text-danger.fs-5 .me-3
              p.mb-0.flex-1.mx-2 Ya existe un producto con ese SKU
              button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

          .col-12.col-xl-8
            h4.mb-3 Nombre Producto
            input.form-control.mb-5(type='text' placeholder='Escriba aqui...' required name="nombre" value= producto.nombre || '')
            .mb-6
            h4.mb-3.mt-3 Inventario
            .row.g-0.border-top.border-bottom
              .col-sm-4
                .nav.flex-sm-column.border-bottom.border-bottom-sm-0.border-end-sm.fs-9.vertical-tab.h-100.justify-content-between(role='tablist' aria-orientation='vertical')    
                  +pestana('skuTab', 'lock', 'SKU', '#skuTabContent', true)
                  +pestana('precioTab', 'tag', 'Precio', '#precioTabContent')
                  +pestana('restockTab', 'package', 'Restock', '#restockTabContent')
                  +pestana('attributesTab', 'sliders', 'Capacidad-Concentracion', '#attributesTabContent')
              .col-sm-8
                .tab-content.py-3.ps-sm-4.h-100
                  +contenidoPestana('skuTabContent', true)
                    .row
                      h5.mb-2.text-body-highlight SKU
                    .row
                      .col-6
                        input.form-control(type='text' placeholder='Ingrese el SKU correspondiente al producto' required name="sku" value= producto.sku || '')
                      .col-6
                        +botonConfirmar('confirmarSkuBtn')

                  +contenidoPestana('precioTabContent', false)
                      .row
                        h5.mb-2.text-body-highlight Precio
                      .row
                        .col-6
                          input.form-control(type='number' placeholder='$1000' min="1" required name="precio" value= producto.precio || '')
                        .col-6
                          +botonConfirmar('confirmarPrecioBtn')
                  +contenidoPestana('restockTabContent')
                     .d-flex.flex-column.h-100
                         h5.mb-3.text-body-highlight Añadir stock
                         .row.g-3.flex-1.mb-4
                            .col-sm-7
                              input.form-control(type='number' placeholder='Cantidad' min="1" required name="stock")
                            .col-sm
                              +botonConfirmar('confirmarStockBtn')
                            table
                              thead
                                tr
                                  th(style='width: 200px;')
                                  th
                              tbody
                                tr
                                  td.text-body-highlight.fw-bold.py-1 Stock actual
                                  td.text-body-tertiary.fw-semibold.py-1
                                    | #{producto.stock || 0}
                                    button.btn.p-0(type='button')
                                      span.fa-solid.fa-rotate.text-body.ms-1(style='--phoenix-text-opacity: .6;')
                                tr
                                  td.text-body-highlight.fw-bold.py-1 Ultima modificacion:
                                  td.text-body-tertiary.fw-semibold.py-1
                                    if producto.updatedAt
                                        = producto.updatedAt.toLocaleDateString() + ' ' + producto.updatedAt.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit', second: '2-digit' })
                  #productsTabContent.tab-pane.fade(role='tabpanel' aria-labelledby='productsTab')
                  #attributesTabContent.tab-pane.fade.row(role='tabpanel' aria-labelledby='attributesTab')
                      h5.mb-3.text-body-highlight Indique cantidad, ej: 10
                      .row
                          .col-12
                              input.form-control.mb-3(type='number' placeholder='10' min="1" required name="capacidad" value= producto.capacidad || '')
                              +combo_add("Unidad medida","No existe? Crea una nueva medida",data.unidades,"unidad_medida",producto.unidadId)

            h4.mt-3.mb-5 Añadir Imagen

              
              
          .col-12.col-xl-4
            .row.g-2
              .col-12.col-xl-12
                .card.mb-3
                  .card-body
                    h4.card-title.mb-4 Detalles del producto
                    .row.gx-3
                      .col-12.col-sm-6.col-xl-12
                        .mb-4
                          +combo_add("Marca","No existe? Crea una nueva marca", data.marcas,"marca",producto.marcaId)
                      .col-12.col-sm-6.col-xl-12
                        .mb-4
                          +combo_add("Categoria","No existe? Crea una nueva categoria", data.categorias,"categoria",producto.categoriaId)
                      .col-12.col-sm-6.col-xl-12
                        .mb-4
                          +combo_add("Proveedor","No existe? Crea un nuevo proveedor", data.proveedores,"proveedor",producto.proveedorId)

    script.
      document.addEventListener('DOMContentLoaded', function () {
        const btnConfirmarSku = document.getElementById('confirmarSkuBtn');
        const btnConfirmarPrecio = document.getElementById('confirmarPrecioBtn');
        const btnConfirmarStock = document.getElementById('confirmarStockBtn');

        btnConfirmarSku.addEventListener('click', function () {
          const precioTab = new bootstrap.Tab(document.getElementById('precioTab'));
          precioTab.show();
        });
        btnConfirmarPrecio.addEventListener('click', function () {
          const restockTab = new bootstrap.Tab(document.getElementById('restockTab'));
          restockTab.show();
        });

        btnConfirmarStock.addEventListener('click', function () {
          const attributesTab = new bootstrap.Tab(document.getElementById('attributesTab'));
          attributesTab.show();
        });
  
     });


