extends ../layout/index

block contenido

    .content
      nav
            h2 Productos
      table#productos(class="table table-hover table-sm table-bordered w-100")
         thead
           tr(class="thead-dark")
             th IMAGEN
             th SKU  
             th NOMBRE
             th MARCA
             th CATEGORIA
             th CAPACIDAD
             th PRECIO
             th STOCK
             th PROVEEDOR
             th FECHA
         tbody
