extends ../layout/index

include ../mixins/cards/card
include ../mixins/modal/modalProducto

block contenido

    +modalProducto()

    div(class="row mt-3 justify-content-around gap-3")
        +card("col-sm-12 col-md-3","bg-custom-primary","Productos activos","155")
        +card("col-sm-12 col-md-3","bg-danger","Productos sin stock","155")
        +card("col-sm-12 col-md-3","bg-custom-green","Productos vendidos","155")
    hr
    div(class="row mt-3")
      .table-responsive.rounded.py-4.rounded-2
        table#productos(class="col table table-striped table-hover table-sm")
                 thead
                   tr(class="")
                     th Imagen
                     th SKU  
                     th Nombre
                     th Marca
                     th Categoria
                     th Capacidad
                     th Precio
                     th Stock
                     th Proveedor
                     th Fecha
                 tbody