extends ../layout/index
include ../mixins/tablas/tablas

block contenido
    .content
      nav(aria-label='breadcrumb')
      .mb-9
        .row.d-flex.justify-content-between.mb-4
          .col-auto
            h2 Productos
          .col-auto
            a.text-white(href=``)
              button#addBtn.btn.btn-primary
                span.fas.fa-plus.me-2
                | Añadir Producto

        table#productos.table.fs-9.mb-0.table-striped.table-hover.table-sm()
           thead
             tr
               +tableHeader('IMAGEN', '')
               +tableHeader('SKU',  'sku')
               +tableHeader('NOMBRE',  'nombre')
               +tableHeader('MARCA',  'marca')
               +tableHeader('CATEGORIA',  'categoria')
               +tableHeader('CAPACIDAD',  'capacidad')
               +tableHeader('UNIDAD',  'unidad')
               +tableHeader('PRECIO',  'precio')
               +tableHeader('STOCK',  'stock')
               +tableHeader('PROVEEDOR',  'proveedor')
               +tableHeader('FECHA','fecha')
           tbody