mixin card(col,background,title,text)
    div(class=`card ${background} ${col} p-0`)
      div(class="card-body")
        h5(class="card-title fw-light fs-6")= title
        p(class="card-text fw-bold fs-3")= text