block scripts 

script(src='/vendors/popper/popper.min.js')
script(src='/vendors/fontawesome/all.min.js')
script(src='/vendors/feather-icons/feather.min.js')
script(src='/vendors/bootstrap/bootstrap.min.js')
script(src='/vendors/lodash/lodash.min.js')
script(src='/vendors/list.js/list.min.js')
script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
script(src='/assets/js/phoenix.js')
