nav#navbarTop.navbar.navbar-top.fixed-top.navbar-expand-lg
  .navbar-logo
    button.btn.navbar-toggler.navbar-toggler-humburger-icon.hover-bg-transparent(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTopCollapse' aria-controls='navbarTopCollapse' aria-expanded='false' aria-label='Toggle Navigation')
      span.navbar-toggle-icon
        span.toggle-line
    a.navbar-brand.me-1.me-sm-3(href='../index.html')
      .d-flex.align-items-center
        .d-flex.align-items-center
          img(src='/assets/img/icons/logo_dunteva.png' alt='Dunteva' width='110')
  #navbarTopCollapse.collapse.navbar-collapse.navbar-top-collapse.order-1.order-lg-0.justify-content-center
    ul.navbar-nav.navbar-nav-top(data-dropdown-on-hover='data-dropdown-on-hover')
      a.nav-link.lh-1(href='/' role='button')
        span.uil.fs-6.me-2.uil-chart-pie
        | Inicio
      a.nav-link.lh-1(href='/stock/listar_productos' role='button')
        span.uil.fs-6.me-2.uil-chart-pie
        | Stock
      a.nav-link.lh-1(href='/ventas/listar_ventas' role='button')
        span.uil.fs-6.me-2.uil-chart-pie
        | Ventas
  ul.navbar-nav.navbar-nav-icons.flex-row
    li.nav-item
      .theme-control-toggle.fa-icon-wait.px-2
        input#themeControlToggle.form-check-input.ms-0.theme-control-toggle-input(type='checkbox' data-theme-control='phoenixTheme' value='dark')
        label.mb-0.theme-control-toggle-label.theme-control-toggle-light(for='themeControlToggle' data-bs-toggle='tooltip' data-bs-placement='left' data-bs-title='Switch theme' style='height:32px;width:32px;')
          span.icon(data-feather='moon')
        label.mb-0.theme-control-toggle-label.theme-control-toggle-dark(for='themeControlToggle' data-bs-toggle='tooltip' data-bs-placement='left' data-bs-title='Switch theme' style='height:32px;width:32px;')
          span.icon(data-feather='sun')