doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================
  // Document Title
  // ===============================================
  title Dunteva
  // ===============================================
  // Favicons
  // ===============================================
  link(rel='apple-touch-icon' sizes='180x180' href='/assets/img/icons/logo_dunteva.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/assets/img/icons/logo_dunteva.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/assets/img/icons/logo_dunteva.png')
  link(rel='shortcut icon' type='image/x-icon' href='/assets/img/icons/logo_dunteva.png')
  link(rel='manifest' href='/assets/img/favicons/manifest.json')

  meta(name='msapplication-TileImage' content='/assets/img/favicons/mstile-150x150.png')
  
  meta(name='theme-color' content='#ffffff')

  script(src='/assets/js/config.js')
  // ===============================================
  // Stylesheets
  // ===============================================


  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap' rel='stylesheet')
  link#style-rtl(href='/assets/css/theme-rtl.min.css' type='text/css' rel='stylesheet')
  link#style-default(href='/assets/css/theme.min.css' type='text/css' rel='stylesheet')
  link#user-style-rtl(href='/assets/css/user-rtl.min.css' type='text/css' rel='stylesheet')
  link#user-style-default(href='/assets/css/user.min.css' type='text/css' rel='stylesheet')



  // ===============================================
  //              DATA TABLES ESTILOS
  // ===============================================

  link(href='https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css' type='text/css' rel='stylesheet')
  
  script.
    var endpoints = !{endpoints ? JSON.stringify(endpoints) : 'null'};
    var phoenixIsRTL = window.config.config.phoenixIsRTL;
    if (phoenixIsRTL) {
    var linkDefault = document.getElementById('style-default');
    var userLinkDefault = document.getElementById('user-style-default');
    linkDefault.setAttribute('disabled', true);
    userLinkDefault.setAttribute('disabled', true);
    document.querySelector('html').setAttribute('dir', 'rtl');
    } else {
    var linkRTL = document.getElementById('style-rtl');
    var userLinkRTL = document.getElementById('user-style-rtl');
    linkRTL.setAttribute('disabled', true);
    userLinkRTL.setAttribute('disabled', true);
    }
    

   
body
  main#top.main
    include header
    block contenido


    //Cargo las dependencias de phoenix
    include ../bundlesScripts/phoenixScripts
    //Cargo mis dependencias
    include ../bundlesScripts/DataTables/datatables

//Phoenix config global
script(src='/assets/js/phoenix.js')


  